:root {
  --app-bg:#FAF4F2;
  --orange: #e76f51;
  --white: #fff;
  --grey: #d2d2d2;
  --dark: #343434;
  --primary-font: "Roboto", Arial, Helvetica, sans-serif;
  --primary-font-md: "Roboto Medium", Arial, Helvetica, sans-serif;
  --secondary-font: "Archivo Black", Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: var(--app-bg);
}
/*

__ Reset Class __


 */
a {
  text-decoration: none;
  cursor: pointer;
}

/*


__ Helper Class __


*/

/* 

  __  component  __

*/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  -webkit-border-radius: 10rem;
  background-color: var(--dark);
  color: var(--white);
  width: 18rem;
  height: 5rem;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--primary-font-md);
}

/*


__ App Style __


*/

.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url(../images/header-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 85vh;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

/* 

======================
    Nav
======================

*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
}

/* 

======================
    App Logo
======================

*/
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 4rem;
}
.app-logo_img {
  width: 100%;
  height: 100%;
}

/* 

=========================
    Main Menu  (desktop)
=========================

*/
.menu {
  display: none;
}
.menu__item {
  margin-right: 1.5rem;
}
.menu__link {
  color: var(--grey);
  transition: color 100ms ease-in;
  -webkit-transition: color 100ms ease-in;
  -moz-transition: color 100ms ease-in;
  -ms-transition: color 100ms ease-in;
  -o-transition: color 100ms ease-in;
}
.menu__link:hover {
  color: var(--white);
}
.menu__link--active {
  color: var(--white);
  position: relative;
  z-index: 1;
}
.menu__link--active::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 7px;
  z-index: -1;
  right: 0;
  left: 0;
  margin: 0 auto;
}

/* 

======================
    Navigation Menu
======================

*/
.nav-menu {
  position: fixed;
  background-color: var(--dark);
  left: -25rem;
  top: 0;
  bottom: 0;
  width: 25rem;
  padding: 2.5rem;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.nav-menu__title {
  color: var(--white);
  font-size: 2rem;
  font-family: var(--secondary-font);
  border-bottom: 0.1rem solid var(--white);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
/* 

======================
    Mobile Menu
======================

*/
.mobile-menu {
  margin-bottom: 3rem;
}
.mobile-menu__item {
  margin-bottom: 1rem;
}
.mobile-menu__link {
  color: var(--white);
  position: relative;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}
.mobile-menu__link::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  margin: auto;
  height: 0.3rem;
  background-color: var(--orange);
}
.mobile-menu__link:hover {
  padding-left: 2.2rem;
}
.mobile-menu__link:hover::before {
  width: 1.6rem;
}

/* 

======================
    Nav links
======================

*/
.nav-menu__links {
  display: flex;
}
.nav-menu__link {
  color: var(--white);
  border: 1px solid var(--white);
  display: block;
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
.nav-menu__link:hover {
  background-color: var(--white);
  color: var(--dark);
}
.nav-menu__link--border {
}

/* 

======================
    Haeder Links
======================

*/
.nav__links {
  display: none;
}
.nav__link {
  color: var(--white);
  font-family: var(--primary-font-md) ;
  margin-left: 3rem;
}
.nav__link--border:hover {
  background-color: var(--white);
  color: var(--dark);
}
.nav__link--border {
  border: 1px solid var(--white);
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
}

/* 

======================
    Nav Btn
======================

*/
.nav__btn {
  background-color: var(--white);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__btn-line {
  display: block;
  width: 3rem;
  border-radius: 2rem;
  height: 0.3rem;
  background-color: var(--orange);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  position: relative;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after {
  content: " ";
  position: absolute;
  width: 3rem;
  border-radius: 2rem;
  height: 0.3rem;
  background-color: var(--orange);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.nav__btn-line::before {
  top: -0.8rem;
}
.nav__btn-line::after {
  top: 0.8rem;
}
.nav__btn--open .nav__btn-line {
  background-color: transparent;
}
.nav__btn--open .nav__btn-line::before {
  transform: translateY(8px) rotate(45deg);
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
}
.nav__btn--open .nav__btn-line::after {
  transform: translatey(-8px) rotate(-45deg);
  -webkit-transform: translatey(-8px) rotate(-45deg);
  -moz-transform: translatey(-8px) rotate(-45deg);
  -ms-transform: translatey(-8px) rotate(-45deg);
  -o-transform: translatey(-8px) rotate(-45deg);
}
.nav-menu--open {
  left: 0;
}

/* 

======================
    Header Content
======================

*/
.header__content {
  text-align: center;
  color: var(--white);
  margin-top: 6rem;
}
.header-content_title {
  font-family: var(--secondary-font);
  font-size: 4.8rem;
  line-height: 1.2;
  max-width: 35rem;
  margin: 0 auto 3rem auto;
}
.header-content_caption {
  font-size: 1.8rem;
  max-width: 34rem;
  margin: 0 auto 2rem auto;
}
.header-content_link {
  background-color: var(--orange);
}


/* 

======================
   Main
======================

*/

.main{


}



/* 

======================
    services
======================

*/
.services{
  display: flex;
  flex-wrap: wrap;
  margin-top: -20rem;
  margin-left: -1rem;
  margin-right: -1rem;

}
.service{
  background-color: var(--white);
  margin-bottom: 2rem;
  height: 26rem;
  width: 32rem;
  padding: 0 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  color: var(--dark);
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;

}
.service__img{
  display: block;

}
.service__title{
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  margin: 1.5rem 0 0.6rem 0;

}
.service__caption{

}



/* 

======================
    destination
======================

*/

.destinations{
  text-align: center;
  padding: 6rem 0;


}
.destination__logo{
  width: 8rem;
  height: 8rem;
}
.destination__title{
  font-family: var(--secondary-font);
  font-size: 3rem;
  max-width: 36rem;
  margin: 3rem auto;
  
}
.destination__places{

  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;

}
.destinations__btn{
  color: var(--orange);
  border: 1px solid var(--orange);
  background-color: transparent;
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  margin-top: 3rem;
}
.destinations__btn:hover{
  color: var(--app-bg);
  background-color: var(--orange);
  
}


/* 

================
    Places
================

*/


.place{
  background-color: var(--white);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 2rem;
  width: 32rem;
  flex-grow: 1;
  color: var(--dark);
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  overflow: hidden;
}
.place__banner{
  position: relative;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  overflow: hidden;
  height: 18rem;

}
.place__img{
  width: 100%;
  height: 100%;
  object-fit: cover;


}
.place__like{
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
.place__like-icon{


}
.place__price{
  background-color: var(--white);
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  right: 0;
  width: 12rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.place__price-text{
  font-family: var(--primary-font-md);
  color: var(--orange);
  text-align: center;

}
.place__title{
  font-family: var(--secondary-font);
  margin-top: 3rem;
  margin-bottom: .5rem;
  font-size: 1.6rem;
}
.place__caption{
  margin-bottom: 3rem;

}
.place__link{
  color: #8D8D8D;
  background-color: rgba(141, 141, 141, 10%);

}